/* I'm not sold on the colors and I'm sure I will change them at some point' */
:root {
  --dark-text: #404518;
  --light-background:#e9cece;
  --light-green: #b2ba97;
  --dark-pink:#9f8270;
}
body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background-color:var(--light-background);
  color: var(--dark-text);
  padding: 1%;
  box-sizing: border-box;
}

h1 {
  display: inline-block;
}

/* Top navigation for about me, projects, and contact */
header nav {
  padding-top: 0px;
  margin-right: 0px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  box-sizing: border-box;
}

header nav ul li {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 25px;
}

header nav ul li a {
  text-decoration: none;
  color: var(--dark-text);
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* This photo is of Buffalo, NY. My home town. */
.hero {
  background-image: url("images/buffalo-skyline-along-the-banks-of-lake-erie-denis-tangney-jr.jpeg");
  background-size: cover;
  background-position-x: center;
  background-position-y: 17%;
  height: 150px;
  margin: 1%;
  border: solid #404518;
}
section {
  padding: 1%;
}

#about-me {
  background-color: var(--dark-pink);
  color: white;
  display: flex;
  padding: 2em;
}

 h2 {
  margin-left: 15px;
  width: 10%;
  border-right: 5px solid #404518;
  padding-right: 7px;
  display: flex;
  justify-content: end;

}

#about-me img {
  width: 150px;
  margin: 0 15px 0 15px;
  float: left;
  height: auto;
}

/* Project section with placeholders to fill in when they are completed */
#projects {
  background-color: var(--light-background);
  color: var(--dark-text);
  display: flex;
}

#image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  
}

/* Made this 100% width to make it take up more space than the other pictures */
#main-image img {
  width: 97%;
  position: relative;
  margin: 15px;
}

#horiseon {
  position: relative;
}

#main-image {
  width: 60%;
}

/* This took me a long time to figure out. If you have any notes on an easier way please let me know */
.text-block {
  font-size: 14px;
  background-color: var(--light-background);
  color: var(--dark-text);
  text-align: center;
  width: 50%;
  max-height: 75px;
  position: absolute;
  bottom: 30px;
  left: 5%;
}

.text-block h4 {
  margin: 4px;
}
.text-block p{
  margin: 6px 0px;
}
.secondary-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
#secondary-image img {
  width: 100%;
}

#secondary-image {
  width: 40%;
  margin: auto;
  padding: 10px;
  position: relative;
}

#contact-me {
  background-color: var(--dark-pink);
  color: white;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#contact-me ul {
  gap: 55px;
}

#contact-me ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  header {
    display: flex;
   flex-direction: column;
   align-items: center;
  }

  header ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  #contact-me {
    flex-direction: column;
  }

  #contact-me ul {
    gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .main-image {
    width: 90%;
  }

  .secondary-image {
    width: 100%
  }
}

@media screen and (max-width: 450px) {
  .text-block {
    display: none;
    width: 50%;
    display: flex;
    justify-content: center;
  }

}
@media screen and (max-width: 530px) {
  #secondary-image .text-block {
    display: none;

  }
 #projects {
   display: flex;
   flex-direction: column;
   justify-content: center;
   
 }
 section {
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 h2 {
  display: flex;
  flex-direction: column;
  border-bottom: 5px solid #404518;
  border-right: none;
}
}